<div class="col-md-12">
	<h1 class="form-h1">当サイトについて</h1>
</div>

<div class="col-md-8 main">
	<p class="top-about">
		このサイトは<span class="under">Youtuber</span>の方が<br>
		動画を宣伝、拡散させたり<br>
		Youtubeを見る側の方が<br>
		<span class="under">新たなYoutubeを発見したい人</span>に<br>
		向けられて作成されたサイトです。<br><br>
		コンテンツ内容はこれから徐々に<br>
		増やしていく予定で現在構築中です。<br>
		<span class="under">本家では検索で発見できない</span><br>
		新しいコンテンツを見つけてください。<br>
	</p>
</div>
